<!-- administrador.ejs -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P치gina do Administrador</title>
</head>
<body>
    <%- include("topo") %>
  <h1>Bem-vindo, Administrador!</h1>
  <div class="menu">
    <a href = '/'>Cadastro de Funcion치rio<a><br>
    <a href = '/listarfuncionarios'>Lista de Funcion치rios<a><br>
    <a href='/pesquisafuncionarios'>Pesquisar Funcion치rios<a><br>
    <a href= '/folhadepagamento'>Folha de Pagamento<a><br>
    
    </div>
  </div>
  <%- include("rodape") %>
</body>
</html>
